## TRAIN

In [1]:
import pandas as pd  # keywords are highlighted in green, other strings in red, etc.
import numpy as np
import statistics as stats

In [2]:
file = pd.read_csv('fifa21_train.csv')
file.shape

(11701, 101)

In [3]:
file.head()

,ID,Name,Age,Nationality,Club,BP,Position,Team & Contract,Height,Weight,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
0,184383,A. Pasche,26,Switzerland,FC Lausanne-Sport,CM,CM CDM,FC Lausanne-Sport 2015 ~ 2020,"5'9""",161lbs,...,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64
1,188044,Alan Carvalho,30,China PR,Beijing Sinobo Guoan FC,ST,ST LW LM,"Beijing Sinobo Guoan FC Dec 31, 2020 On Loan","6'0""",159lbs,...,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77
2,184431,S. Giovinco,33,Italy,Al Hilal,CAM,CAM CF,Al Hilal 2019 ~ 2022,"5'4""",134lbs,...,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2,80
3,233796,J. Evans,22,Wales,Swansea City,CDM,CDM CM,Swansea City 2016 ~ 2021,"5'10""",152lbs,...,58+2,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2,59
4,234799,Y. Demoncy,23,France,US Orléans Loiret Football,CDM,CDM CM,US Orléans Loiret Football 2018 ~ 2021,"5'11""",150lbs,...,64+2,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2,65

In [4]:
file.columns = list(map(lambda x: x.replace(" ","_"), file.columns))
file.head()

,ID,Name,Age,Nationality,Club,BP,Position,Team_&_Contract,Height,Weight,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
0,184383,A. Pasche,26,Switzerland,FC Lausanne-Sport,CM,CM CDM,FC Lausanne-Sport 2015 ~ 2020,"5'9""",161lbs,...,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64
1,188044,Alan Carvalho,30,China PR,Beijing Sinobo Guoan FC,ST,ST LW LM,"Beijing Sinobo Guoan FC Dec 31, 2020 On Loan","6'0""",159lbs,...,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77
2,184431,S. Giovinco,33,Italy,Al Hilal,CAM,CAM CF,Al Hilal 2019 ~ 2022,"5'4""",134lbs,...,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2,80
3,233796,J. Evans,22,Wales,Swansea City,CDM,CDM CM,Swansea City 2016 ~ 2021,"5'10""",152lbs,...,58+2,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2,59
4,234799,Y. Demoncy,23,France,US Orléans Loiret Football,CDM,CDM CM,US Orléans Loiret Football 2018 ~ 2021,"5'11""",150lbs,...,64+2,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2,65

In [5]:
file=file.drop(['ID', 'Name', 'Nationality', 'Joined','Contract', 'Team_&_Contract', 'Loan_Date_End', 'Position'], axis=1 )
file=file.dropna()
file = file.drop_duplicates()

In [6]:
numerical = file._get_numeric_data()
categoricals= file.select_dtypes(['object'])

In [7]:
def split():

    
    for column in categoricals:
        
        if [categoricals[column].isin(['+-'])]:
            categoricals[column] = categoricals[column].str.split('+').str[0]
            
        elif [(categoricals[column].isin(['-']))]:
            categoricals[column] = categoricals[column].str.split('-').str[0]

        else: 
            categoricals[column] = categoricals[column].str.split('+').str[0]

In [8]:
split()
categoricals.head()

C:\Users\Usuario\AppData\Local\Temp/ipykernel_13256/4054005877.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals[column] = categoricals[column].str.split('+').str[0]

,Club,BP,Height,Weight,foot,Value,Wage,Release_Clause,W/F,SM,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK
0,FC Lausanne-Sport,CM,"5'9""",161lbs,Right,€525K,€4K,€801K,4 ★,2★,...,59,59,59,59,58,54,54,54,58,15
1,Beijing Sinobo Guoan FC,ST,"6'0""",159lbs,Right,€8.5M,€23K,€0,3 ★,4★,...,53,53,53,57,53,48,48,48,53,18
2,Al Hilal,CAM,"5'4""",134lbs,Right,€9M,€49K,€15.3M,4 ★,4★,...,56,56,56,59,53,41,41,41,53,12
3,Swansea City,CDM,"5'10""",152lbs,Right,€275K,€4K,€694K,2 ★,2★,...,58,58,58,56,57,58,58,58,57,14
4,US Orléans Loiret Football,CDM,"5'11""",150lbs,Right,€725K,€2K,€1.4M,2 ★,3★,...,64,64,64,64,63,61,61,61,63,15

categoricals['Weight'] = categoricals['Weight'].str.replace('lbs','')
#categoricals['Weight'] =  pd.to_numeric(categoricals['Weight'], errors='coerce')


#categoricals['Value'] = categoricals['Value'].str.replace('€','')
categoricals['Value'] = categoricals['Value'].str.replace('K','000')

#categoricals['Value'] = categoricals['Value'].str.replace('.','')
#categoricals['Value'] = categoricals['Value'].str.replace('M','00000')
categoricals['Value'] =  pd.to_numeric(categoricals['Value'], errors='coerce')


categoricals['Wage'] = categoricals['Wage'].str.replace('€','')
categoricals['Wage'] = categoricals['Wage'].str.replace('K','000')
#categoricals['Wage'] =  pd.to_numeric(categoricals['Wage'], errors='coerce')


categoricals['Release_Clause'] = categoricals['Release_Clause'].str.replace('€','')
categoricals['Release_Clause'] = (categoricals['Release_Clause'].str.replace('K',''))
categoricals['Release_Clause'] = categoricals['Release_Clause'].str.replace('.','')
categoricals['Release_Clause'] = (categoricals['Release_Clause'].str.replace('M',''))
#categoricals['Release_Clause'] =  pd.to_numeric(categoricals['Release_Clause'])
#categoricals['Release_Clause'] = categoricals['Release_Clause'].replace('[^ \d.]','',regex=True).astype(float)


categoricals['W/F'] = categoricals['W/F'].str.replace('★','')
#categoricals['W/F'] =  pd.to_numeric(categoricals['W/F'], errors='coerce')

categoricals['SM'] = categoricals['SM'].str.replace('★','')
#categoricals['SM'] =  pd.to_numeric(categoricals['SM'], errors='coerce')

categoricals['IR'] = categoricals['IR'].str.replace('★','')
#categoricals['IR'] =  pd.to_numeric(categoricals['IR'], errors='coerce')

In [9]:
def remove_char(categoricals):
    specialchars = ['€','★',"lbs"]
    for char in specialchars:
        for column in categoricals:
            categoricals[column] = categoricals[column].replace(specialchars,'', regex=True)

In [10]:
remove_char(categoricals)

C:\Users\Usuario\AppData\Local\Temp/ipykernel_13256/728644754.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals[column] = categoricals[column].replace(specialchars,'', regex=True)

'''
def mult_char(categoricals):
    for i in categoricals['Release_Clause']:
        if (categoricals['Release_Clause'].str.contains('K')):
            categoricals['Release_Clause'].replace('K','',regex=True)
            categoricals['Release_Clause'] = pd.to_numeric(categoricals['Release_Clause'])*1000
        elif categoricals['Release_Clause'].str.contains('M'):
            categoricals['Release_Clause'].replace('M','',regex=True)
            categoricals['Release_Clause'] = pd.to_numeric(categoricals['Release_Clause'])*1000000
        else:
            categoricals['Release_Clause'] = pd.to_numeric(categoricals['Release_Clause'])
'''

In [11]:
#for i in categoricals.columns:
#    categoricals[i] = categoricals[i].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)

categoricals['Release_Clause'] = categoricals['Release_Clause'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
categoricals['Wage'] = categoricals['Wage'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
categoricals['Value'] = categoricals['Value'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
categoricals['Hits'] = categoricals['Hits'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)

C:\Users\Usuario\AppData\Local\Temp/ipykernel_13256/176429301.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals['Release_Clause'] = categoricals['Release_Clause'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
C:\Users\Usuario\AppData\Local\Temp/ipykernel_13256/176429301.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals['Wage'] = categoricals['Wage'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
C:\Users\Usuario\AppData\Local\Temp/ipykernel_13256/176429301.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals['Value'] = categoricals['Value'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
C:\Users\Usuario\AppData\Local\Temp/ipykernel_13256/176429301.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals['Hits'] = categoricals['Hits'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)

In [12]:
H_feet = categoricals['Height'].str.split("'").str[0]
H_inch = categoricals['Height'].str.split("'").str[1].str.split("\"").str[0]

categoricals['Height'] = (H_feet.astype(float) * 12) + H_inch.astype(float)

C:\Users\Usuario\AppData\Local\Temp/ipykernel_13256/1905935329.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals['Height'] = (H_feet.astype(float) * 12) + H_inch.astype(float)

In [13]:
categoricals.head(20)

,Club,BP,Height,Weight,foot,Value,Wage,Release_Clause,W/F,SM,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK
0,FC Lausanne-Sport,CM,69.0,161,Right,525000.0,4000.0,801000.0,4,2,...,59,59,59,59,58,54,54,54,58,15
1,Beijing Sinobo Guoan FC,ST,72.0,159,Right,8500000.0,23000.0,0.0,3,4,...,53,53,53,57,53,48,48,48,53,18
2,Al Hilal,CAM,64.0,134,Right,9000000.0,49000.0,15300000.0,4,4,...,56,56,56,59,53,41,41,41,53,12
3,Swansea City,CDM,70.0,152,Right,275000.0,4000.0,694000.0,2,2,...,58,58,58,56,57,58,58,58,57,14
4,US Orléans Loiret Football,CDM,71.0,150,Right,725000.0,2000.0,1400000.0,2,3,...,64,64,64,64,63,61,61,61,63,15
5,Shanghai Greenland Shenhua FC,LM,70.0,154,Right,1400000.0,11000.0,2200000.0,4,3,...,55,55,55,58,55,49,49,49,55,19
6,Parma,RB,72.0,154,Right,6000000.0,28000.0,10800000.0,5,3,...,74,74,74,74,74,74,74,74,74,15
7,AC Monza,LM,70.0,161,Left,300000.0,800.0,540000.0,2,2,...,52,52,52,52,50,46,46,46,50,15
8,FC Lugano,CB,76.0,192,Right,210000.0,2000.0,305000.0,2,2,...,64,64,64,59,60,68,68,68,60,16
9,Club Atlético Huracán,CB,72.0,163,Left,220000.0,4000.0,319000.0,3,3,...,66,66,66,65,65,68,68,68,65,16
10,Olimpia Asunción,CB,74.0,172,Right,625000.0,500.0,1400000.0,3,2,...,64,64,64,64,65,72,72,72,65,18
11,Nacional de Montevideo,RM,65.0,130,Right,650000.0,500.0,1600000.0,3,3,...,42,42,42,48,45,37,37,37,45,15
12,New England Revolution,CDM,72.0,170,Right,800000.0,3000.0,1200000.0,3,2,...,69,69,69,67,66,68,68,68,66,18
13,U.N.A.M.,RB,69.0,157,Right,5000000.0,9000.0,9500000.0,3,3,...,69,69,69,71,71,69,69,69,71,16
14,Paris FC,CB,71.0,165,Right,130000.0,500.0,309000.0,2,2,...,49,49,49,51,54,54,54,54,54,12
15,Pachuca,CAM,68.0,154,Left,1100000.0,6000.0,2100000.0,3,4,...,51,51,51,52,49,42,42,42,49,20
16,FC St. Pauli,GK,75.0,198,Right,325000.0,3000.0,544000.0,3,1,...,25,25,25,27,27,26,26,26,27,62
18,FK Austria Wien,ST,73.0,172,Right,825000.0,6000.0,1300000.0,3,3,...,45,45,45,50,48,43,43,43,48,17
19,San Jose Earthquakes,CDM,73.0,176,Left,500000.0,2000.0,763000.0,2,2,...,63,63,63,60,60,62,62,62,60,16
20,Athletic Club de Bilbao,GK,74.0,163,Right,350000.0,2000.0,805000.0,3,1,...,20,20,20,18,18,18,18,18,18,61

In [14]:
col_to_numercic = ['Weight', 'Value', 'Wage', 'Release_Clause', 'W/F', 'SM', 'IR', 'Hits', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'GK']

for i in range(len(col_to_numercic)):
    categoricals[col_to_numercic[i]] =  pd.to_numeric(categoricals[col_to_numercic[i]])
#categoricals[col_to_numercic[i]] = [col_to_numercic[i]].map(pd.eval).astype(float)

C:\Users\Usuario\AppData\Local\Temp/ipykernel_13256/2568067489.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals[col_to_numercic[i]] =  pd.to_numeric(categoricals[col_to_numercic[i]])

In [15]:
categoricals.dtypes

Club               object
BP                 object
Height            float64
Weight              int64
foot               object
Value             float64
Wage              float64
Release_Clause    float64
W/F                 int64
SM                  int64
A/W                object
D/W                object
IR                  int64
Hits              float64
LS                  int64
ST                  int64
RS                  int64
LW                  int64
LF                  int64
CF                  int64
RF                  int64
RW                  int64
LAM                 int64
CAM                 int64
RAM                 int64
LM                  int64
LCM                 int64
CM                  int64
RCM                 int64
RM                  int64
LWB                 int64
LDM                 int64
CDM                 int64
RDM                 int64
RWB                 int64
LB                  int64
LCB                 int64
CB                  int64
RCB                 int64
RB                  int64
GK                  int64
dtype: object

In [22]:
file_2 = pd.concat([numerical, categoricals], axis=1)
numerical_2 = file_2._get_numeric_data()
categoricals_2= file_2.select_dtypes(['object'])
y = numerical_2['OVA']
X = numerical_2.drop(['OVA'],axis=1)

In [23]:
categoricals_2 = categoricals_2.drop(['Club', 'BP'], axis=1)
categoricals_2.head(5)

    foot     A/W     D/W
0  Right    High  Medium
1  Right    High     Low
2  Right    High  Medium
3  Right  Medium  Medium
4  Right     Low  Medium

In [24]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder().fit(categoricals_2)
encoded_for_p = encoder.transform(categoricals_2).toarray()
encoded_for_p
encoder.categories_

cols=[colname for row in encoder.categories_ for colname in row]
cols
onehot_encoded_for_p = pd.DataFrame(encoded_for_p,columns=cols)
cols_to_drop=[row[0] for row in encoder.categories_]
cols_to_drop
onehot_encoded_for_p = onehot_encoded_for_p.drop(cols_to_drop,axis=1)
onehot_encoded_for_p

       Right  Low  Medium  Low  Medium
0        1.0  0.0     0.0  0.0     1.0
1        1.0  0.0     0.0  1.0     0.0
2        1.0  0.0     0.0  0.0     1.0
3        1.0  0.0     1.0  0.0     1.0
4        1.0  1.0     0.0  0.0     1.0
...      ...  ...     ...  ...     ...
11406    1.0  0.0     0.0  1.0     0.0
11407    0.0  0.0     1.0  0.0     1.0
11408    1.0  0.0     1.0  0.0     1.0
11409    1.0  0.0     0.0  0.0     1.0
11410    0.0  0.0     0.0  1.0     0.0

[11411 rows x 5 columns]

In [25]:
from sklearn.preprocessing import MinMaxScaler # do not use the function Normalise() - it does something entirely different
from sklearn.preprocessing import StandardScaler

# Normalizing data: make data range from 0 - 1, instead of from min to max
transformer = MinMaxScaler().fit(X)
x_normalized = transformer.transform(X)
print(x_normalized.shape)
x_normalized=pd.DataFrame(x_normalized, columns=X.columns)
x_normalized

(11411, 87)

,Age,Growth,Attacking,Crossing,Finishing,Heading_Accuracy,Short_Passing,Volleys,Skill,Dribbling,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK
0,0.370370,0.038462,0.546835,0.545455,0.478261,0.431818,0.710843,0.465116,0.569087,0.615385,...,0.614286,0.614286,0.614286,0.642857,0.637681,0.527778,0.527778,0.527778,0.637681,0.075949
1,0.518519,0.000000,0.817722,0.681818,0.826087,0.806818,0.686747,0.837209,0.777518,0.857143,...,0.528571,0.528571,0.528571,0.614286,0.565217,0.444444,0.444444,0.444444,0.565217,0.113924
2,0.629630,0.000000,0.744304,0.761364,0.793478,0.329545,0.807229,0.825581,0.892272,0.879121,...,0.571429,0.571429,0.571429,0.642857,0.565217,0.347222,0.347222,0.347222,0.565217,0.037975
3,0.222222,0.500000,0.506329,0.431818,0.423913,0.602273,0.614458,0.372093,0.505855,0.538462,...,0.600000,0.600000,0.600000,0.600000,0.623188,0.583333,0.583333,0.583333,0.623188,0.063291
4,0.259259,0.307692,0.524051,0.488636,0.369565,0.636364,0.686747,0.348837,0.555035,0.648352,...,0.685714,0.685714,0.685714,0.714286,0.710145,0.625000,0.625000,0.625000,0.710145,0.075949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11406,0.481481,0.000000,0.627848,0.340909,0.750000,0.681818,0.554217,0.651163,0.562061,0.626374,...,0.414286,0.414286,0.414286,0.457143,0.434783,0.375000,0.375000,0.375000,0.434783,0.126582
11407,0.333333,0.192308,0.460759,0.636364,0.228261,0.522727,0.578313,0.279070,0.480094,0.571429,...,0.628571,0.628571,0.628571,0.700000,0.710145,0.625000,0.625000,0.625000,0.710145,0.088608
11408,0.407407,0.153846,0.106329,0.068182,0.119565,0.090909,0.216867,0.139535,0.124122,0.131868,...,0.142857,0.142857,0.142857,0.157143,0.144928,0.138889,0.138889,0.138889,0.144928,0.759494
11409,0.222222,0.307692,0.617722,0.659091,0.684783,0.522727,0.638554,0.430233,0.580796,0.725275,...,0.400000,0.400000,0.400000,0.500000,0.449275,0.263889,0.263889,0.263889,0.449275,0.101266
11410,0.222222,0.346154,0.625316,0.420455,0.663043,0.681818,0.638554,0.569767,0.524590,0.648352,...,0.385714,0.385714,0.385714,0.457143,0.434783,0.277778,0.277778,0.277778,0.434783,0.075949

In [26]:
X_concat = pd.concat([x_normalized, onehot_encoded_for_p], axis=1)

In [30]:
# train test split is the way ML generates its claim to fame: 
# we build the model on a portion of the data but we then validate it in 
# another "fresh" portion
# our model has no opportunity to "cheat": it must accurately guess the values 
# in the "fresh" dataset that it never saw before
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_concat, y, test_size=0.2, random_state=42)

In [31]:
from sklearn import linear_model
#we train/fit our model like yesterday
lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

In [32]:
from sklearn.metrics import r2_score
predictions = lm.predict(X_train)
r2_score(y_train, predictions)

0.9136222110955874

In [33]:
# But now we evaluate it in the TEST portion of the data, that we did not use for training.
# This way we know our model is genuinely guessing our donations, not just repeating the values it has seen in the training data

predictions_test = lm.predict(X_test)
r2_score(y_test, predictions_test)

0.9127985652779368

In [34]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y_test,predictions_test))

2.049621884837255

In [35]:
mse=mean_squared_error(y_test,predictions_test)
mse

4.200949870803823

In [36]:
#predict and inspect results
results_for_p = lm.predict(X_concat)

pd.concat([file,pd.Series(results_for_p)],axis=1).head()
#dont retrain transformers

,Age,Club,BP,Height,Weight,foot,Growth,Value,Wage,Release_Clause,...,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA,0
0,26.0,FC Lausanne-Sport,CM,"5'9""",161lbs,Right,1.0,€525K,€4K,€801K,...,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64.0,64.950928
1,30.0,Beijing Sinobo Guoan FC,ST,"6'0""",159lbs,Right,0.0,€8.5M,€23K,€0,...,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77.0,77.655884
2,33.0,Al Hilal,CAM,"5'4""",134lbs,Right,0.0,€9M,€49K,€15.3M,...,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2,80.0,75.764893
3,22.0,Swansea City,CDM,"5'10""",152lbs,Right,13.0,€275K,€4K,€694K,...,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2,59.0,61.885986
4,23.0,US Orléans Loiret Football,CDM,"5'11""",150lbs,Right,8.0,€725K,€2K,€1.4M,...,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2,65.0,67.218750

In [37]:
y.describe().T

count    11411.000000
mean        66.881255
std          6.839195
min         45.000000
25%         62.000000
50%         67.000000
75%         72.000000
max         93.000000
Name: OVA, dtype: float64

## VALIDATION

In [32]:
import pandas as pd  # keywords are highlighted in green, other strings in red, etc.
import numpy as np
import statistics as stats

In [33]:
file = pd.read_csv('fifa21_validate.csv')
file.shape

(1999, 101)

In [34]:
file.head()

,ID,Name,Age,Nationality,Club,BP,Position,Team & Contract,Height,Weight,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
0,219461,E. Palmer-Brown,23,United States,FK Austria Wien,CB,CB,"FK Austria Wien Jun 30, 2021 On Loan","6'2""",194lbs,...,61+2,61+2,59+2,61+2,67+2,67+2,67+2,61+2,16+2,67
1,221896,D. Avdijaj,22,Kosovo,Heart of Midlothian,CAM,LM CAM,Heart of Midlothian 2020 ~ 2020,"5'8""",154lbs,...,47+2,47+2,49+2,45+2,38+2,38+2,38+2,45+2,17+2,68
2,247428,D. Ochoa,19,United States,Real Salt Lake,GK,GK,Real Salt Lake 2018 ~ 2020,"6'2""",176lbs,...,18+2,18+2,16+2,16+2,18+2,18+2,18+2,16+2,53+2,54
3,255120,N. Kenneh,16,England,Leeds United,CDM,CB CDM RB,Leeds United 2020 ~ 2022,"6'3""",170lbs,...,54+2,54+2,53+2,53+2,54+2,54+2,54+2,53+2,11+2,55
4,215556,E. Fernandes,24,Switzerland,1. FSV Mainz 05,CDM,CM CDM,1. FSV Mainz 05 2019 ~ 2023,"6'2""",170lbs,...,72+2,72+2,70+2,69+2,68+2,68+2,68+2,69+2,18+2,70

In [35]:
file.columns = list(map(lambda x: x.replace(" ","_"), file.columns))
file.head()

,ID,Name,Age,Nationality,Club,BP,Position,Team_&_Contract,Height,Weight,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
0,219461,E. Palmer-Brown,23,United States,FK Austria Wien,CB,CB,"FK Austria Wien Jun 30, 2021 On Loan","6'2""",194lbs,...,61+2,61+2,59+2,61+2,67+2,67+2,67+2,61+2,16+2,67
1,221896,D. Avdijaj,22,Kosovo,Heart of Midlothian,CAM,LM CAM,Heart of Midlothian 2020 ~ 2020,"5'8""",154lbs,...,47+2,47+2,49+2,45+2,38+2,38+2,38+2,45+2,17+2,68
2,247428,D. Ochoa,19,United States,Real Salt Lake,GK,GK,Real Salt Lake 2018 ~ 2020,"6'2""",176lbs,...,18+2,18+2,16+2,16+2,18+2,18+2,18+2,16+2,53+2,54
3,255120,N. Kenneh,16,England,Leeds United,CDM,CB CDM RB,Leeds United 2020 ~ 2022,"6'3""",170lbs,...,54+2,54+2,53+2,53+2,54+2,54+2,54+2,53+2,11+2,55
4,215556,E. Fernandes,24,Switzerland,1. FSV Mainz 05,CDM,CM CDM,1. FSV Mainz 05 2019 ~ 2023,"6'2""",170lbs,...,72+2,72+2,70+2,69+2,68+2,68+2,68+2,69+2,18+2,70

In [36]:
file=file.drop(['ID', 'Name', 'Nationality', 'Joined','Contract', 'Team_&_Contract', 'Loan_Date_End', 'Position'], axis=1 )
file=file.dropna()
file = file.drop_duplicates()

In [37]:
numerical = file._get_numeric_data()
categoricals= file.select_dtypes(['object'])

In [38]:
def split():

    
    for column in categoricals:
        
        if [categoricals[column].isin(['+-'])]:
            categoricals[column] = categoricals[column].str.split('+').str[0]
            
        elif [(categoricals[column].isin(['-']))]:
            categoricals[column] = categoricals[column].str.split('-').str[0]

        else: 
            categoricals[column] = categoricals[column].str.split('+').str[0]

In [39]:
split()
categoricals.head()

C:\Users\Usuario\AppData\Local\Temp/ipykernel_5964/3624227168.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals[column] = categoricals[column].str.split('+').str[0]

,Club,BP,Height,Weight,foot,Value,Wage,Release_Clause,W/F,SM,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK
0,FK Austria Wien,CB,"6'2""",194lbs,Right,€975K,€5K,€0,2 ★,2★,...,61,61,61,59,61,67,67,67,61,16
1,Heart of Midlothian,CAM,"5'8""",154lbs,Right,€1.2M,€3K,€2.2M,4 ★,3★,...,47,47,47,49,45,38,38,38,45,17
2,Real Salt Lake,GK,"6'2""",176lbs,Right,€120K,€500,€249K,2 ★,1★,...,18,18,18,16,16,18,18,18,16,53
3,Leeds United,CDM,"6'3""",170lbs,Right,€160K,€500,€464K,3 ★,2★,...,54,54,54,53,53,54,54,54,53,11
4,1. FSV Mainz 05,CDM,"6'2""",170lbs,Right,€2.3M,€13K,€4.3M,4 ★,2★,...,72,72,72,70,69,68,68,68,69,18

In [40]:
def remove_char(categoricals):
    specialchars = ['€','★',"lbs"]
    for char in specialchars:
        for column in categoricals:
            categoricals[column] = categoricals[column].replace(specialchars,'', regex=True)

In [41]:
remove_char(categoricals)

C:\Users\Usuario\AppData\Local\Temp/ipykernel_5964/728644754.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals[column] = categoricals[column].replace(specialchars,'', regex=True)

In [42]:
#for i in categoricals.columns:
#    categoricals[i] = categoricals[i].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)

categoricals['Release_Clause'] = categoricals['Release_Clause'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
categoricals['Wage'] = categoricals['Wage'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
categoricals['Value'] = categoricals['Value'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
categoricals['Hits'] = categoricals['Hits'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)

C:\Users\Usuario\AppData\Local\Temp/ipykernel_5964/176429301.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals['Release_Clause'] = categoricals['Release_Clause'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
C:\Users\Usuario\AppData\Local\Temp/ipykernel_5964/176429301.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals['Wage'] = categoricals['Wage'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
C:\Users\Usuario\AppData\Local\Temp/ipykernel_5964/176429301.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals['Value'] = categoricals['Value'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
C:\Users\Usuario\AppData\Local\Temp/ipykernel_5964/176429301.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals['Hits'] = categoricals['Hits'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)

In [43]:
H_feet = categoricals['Height'].str.split("'").str[0]
H_inch = categoricals['Height'].str.split("'").str[1].str.split("\"").str[0]

categoricals['Height'] = (H_feet.astype(float) * 12) + H_inch.astype(float)

C:\Users\Usuario\AppData\Local\Temp/ipykernel_5964/2823112267.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals['Height'] = (H_feet.astype(float) * 12) + H_inch.astype(float)

In [44]:
categoricals.head(15)

,Club,BP,Height,Weight,foot,Value,Wage,Release_Clause,W/F,SM,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK
0,FK Austria Wien,CB,74.0,194,Right,975000.0,5000.0,0.0,2,2,...,61,61,61,59,61,67,67,67,61,16
1,Heart of Midlothian,CAM,68.0,154,Right,1200000.0,3000.0,2200000.0,4,3,...,47,47,47,49,45,38,38,38,45,17
2,Real Salt Lake,GK,74.0,176,Right,120000.0,500.0,249000.0,2,1,...,18,18,18,16,16,18,18,18,16,53
3,Leeds United,CDM,75.0,170,Right,160000.0,500.0,464000.0,3,2,...,54,54,54,53,53,54,54,54,53,11
4,1. FSV Mainz 05,CDM,74.0,170,Right,2300000.0,13000.0,4300000.0,4,2,...,72,72,72,70,69,68,68,68,69,18
5,Viking FK,RM,70.0,152,Right,325000.0,1000.0,431000.0,3,2,...,56,56,56,58,58,55,55,55,58,15
6,Alianza Lima,RB,70.0,163,Right,250000.0,500.0,788000.0,2,2,...,50,50,50,56,56,53,53,53,56,13
7,Boca Juniors,GK,74.0,190,Left,100000.0,2000.0,160000.0,2,1,...,20,20,20,16,16,19,19,19,16,54
8,Rionegro Águilas,CAM,68.0,137,Right,130000.0,500.0,202000.0,3,2,...,36,36,36,40,38,32,32,32,38,16
9,Philadelphia Union,CAM,73.0,165,Left,575000.0,3000.0,0.0,2,3,...,59,59,59,60,58,54,54,54,58,16
10,New England Revolution,CB,71.0,165,Right,775000.0,3000.0,1200000.0,2,2,...,67,67,67,69,69,68,68,68,69,20
11,Burnley,CB,72.0,165,Right,950000.0,13000.0,2000000.0,4,2,...,64,64,64,60,62,67,67,67,62,16
12,Gamba Osaka,CB,72.0,170,Right,2100000.0,6000.0,2800000.0,3,2,...,66,66,66,63,65,70,70,70,65,17
13,Royal Antwerp FC,CB,75.0,196,Left,1700000.0,10000.0,2600000.0,3,2,...,69,69,69,67,68,73,73,73,68,17
14,Doncaster Rovers,CAM,67.0,143,Right,170000.0,3000.0,298000.0,3,3,...,57,57,57,57,54,50,50,50,54,19

In [45]:
col_to_numercic = ['Weight', 'Value', 'Wage', 'Release_Clause', 'W/F', 'SM', 'IR', 'Hits', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'GK']

for i in range(len(col_to_numercic)):
    categoricals[col_to_numercic[i]] =  pd.to_numeric(categoricals[col_to_numercic[i]])
#categoricals[col_to_numercic[i]] = [col_to_numercic[i]].map(pd.eval).astype(float)

C:\Users\Usuario\AppData\Local\Temp/ipykernel_5964/2568067489.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals[col_to_numercic[i]] =  pd.to_numeric(categoricals[col_to_numercic[i]])

In [46]:
categoricals.dtypes

Club               object
BP                 object
Height            float64
Weight              int64
foot               object
Value             float64
Wage              float64
Release_Clause    float64
W/F                 int64
SM                  int64
A/W                object
D/W                object
IR                  int64
Hits              float64
LS                  int64
ST                  int64
RS                  int64
LW                  int64
LF                  int64
CF                  int64
RF                  int64
RW                  int64
LAM                 int64
CAM                 int64
RAM                 int64
LM                  int64
LCM                 int64
CM                  int64
RCM                 int64
RM                  int64
LWB                 int64
LDM                 int64
CDM                 int64
RDM                 int64
RWB                 int64
LB                  int64
LCB                 int64
CB                  int64
RCB                 int64
RB                  int64
GK                  int64
dtype: object

In [47]:
file_2 = pd.concat([numerical, categoricals], axis=1)
numerical_2 = file_2._get_numeric_data()
categoricals_2= file_2.select_dtypes(['object'])
y = numerical_2['OVA']
X = numerical_2.drop(['OVA'],axis=1)

In [48]:
categoricals_2 = categoricals_2.drop(['Club', 'BP'], axis=1)
categoricals_2.head(5)

    foot     A/W     D/W
0  Right     Low    High
1  Right    High     Low
2  Right  Medium  Medium
3  Right  Medium  Medium
4  Right  Medium  Medium

In [49]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder().fit(categoricals_2)
encoded_for_p = encoder.transform(categoricals_2).toarray()
encoded_for_p
encoder.categories_

cols=[colname for row in encoder.categories_ for colname in row]
cols
onehot_encoded_for_p = pd.DataFrame(encoded_for_p,columns=cols)
cols_to_drop=[row[0] for row in encoder.categories_]
cols_to_drop
onehot_encoded_for_p = onehot_encoded_for_p.drop(cols_to_drop,axis=1)
onehot_encoded_for_p

      Right  Low  Medium  Low  Medium
0       1.0  1.0     0.0  0.0     0.0
1       1.0  0.0     0.0  1.0     0.0
2       1.0  0.0     1.0  0.0     1.0
3       1.0  0.0     1.0  0.0     1.0
4       1.0  0.0     1.0  0.0     1.0
...     ...  ...     ...  ...     ...
1942    0.0  0.0     0.0  0.0     1.0
1943    1.0  0.0     1.0  0.0     1.0
1944    0.0  0.0     0.0  0.0     1.0
1945    1.0  0.0     1.0  0.0     1.0
1946    1.0  0.0     1.0  0.0     1.0

[1947 rows x 5 columns]

In [50]:
from sklearn.preprocessing import MinMaxScaler # do not use the function Normalise() - it does something entirely different
from sklearn.preprocessing import StandardScaler

# Normalizing data: make data range from 0 - 1, instead of from min to max
transformer = MinMaxScaler().fit(X)
x_normalized = transformer.transform(X)
print(x_normalized.shape)
x_normalized=pd.DataFrame(x_normalized, columns=X.columns)
x_normalized

(1947, 87)

,Age,Growth,Attacking,Crossing,Finishing,Heading_Accuracy,Short_Passing,Volleys,Skill,Dribbling,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK
0,0.225806,0.28,0.509804,0.493976,0.195402,0.635294,0.604938,0.4500,0.463158,0.448276,...,0.647059,0.647059,0.647059,0.647059,0.686567,0.724638,0.724638,0.724638,0.686567,0.0875
1,0.193548,0.20,0.700280,0.674699,0.643678,0.423529,0.629630,0.8250,0.731579,0.816092,...,0.441176,0.441176,0.441176,0.500000,0.447761,0.304348,0.304348,0.304348,0.447761,0.1000
2,0.096774,0.68,0.000000,0.012048,0.011494,0.035294,0.123457,0.0000,0.000000,0.011494,...,0.014706,0.014706,0.014706,0.014706,0.014925,0.014493,0.014493,0.014493,0.014925,0.5500
3,0.000000,0.92,0.467787,0.385542,0.310345,0.552941,0.592593,0.3500,0.452632,0.528736,...,0.544118,0.544118,0.544118,0.558824,0.567164,0.536232,0.536232,0.536232,0.567164,0.0250
4,0.258065,0.20,0.691877,0.614458,0.632184,0.435294,0.827160,0.6500,0.723684,0.758621,...,0.808824,0.808824,0.808824,0.808824,0.805970,0.739130,0.739130,0.739130,0.805970,0.1125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1942,0.161290,0.44,0.417367,0.638554,0.218391,0.400000,0.493827,0.2250,0.407895,0.528736,...,0.514706,0.514706,0.514706,0.632353,0.641791,0.536232,0.536232,0.536232,0.641791,0.0750
1943,0.161290,0.36,0.081232,0.084337,0.057471,0.070588,0.283951,0.0375,0.047368,0.045977,...,0.088235,0.088235,0.088235,0.073529,0.074627,0.072464,0.072464,0.072464,0.074627,0.6125
1944,0.354839,0.00,0.795518,0.843373,0.781609,0.305882,0.839506,0.8375,0.844737,0.827586,...,0.632353,0.632353,0.632353,0.691176,0.626866,0.434783,0.434783,0.434783,0.626866,0.1125
1945,0.580645,0.00,0.616246,0.626506,0.459770,0.623529,0.629630,0.4875,0.550000,0.586207,...,0.661765,0.661765,0.661765,0.661765,0.671642,0.666667,0.666667,0.666667,0.671642,0.0625
1946,0.064516,0.64,0.638655,0.518072,0.574713,0.505882,0.728395,0.6000,0.652632,0.632184,...,0.558824,0.558824,0.558824,0.588235,0.582090,0.492754,0.492754,0.492754,0.582090,0.0875

In [51]:
X_concat = pd.concat([x_normalized, onehot_encoded_for_p], axis=1)

In [52]:
#predict and inspect results
results_for_p = lm.predict(X_concat)

pd.concat([file,pd.Series(results_for_p)],axis=1).head()
#dont retrain transformers

,Age,Club,BP,Height,Weight,foot,Growth,Value,Wage,Release_Clause,...,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA,0
0,23.0,FK Austria Wien,CB,"6'2""",194lbs,Right,7.0,€975K,€5K,€0,...,61+2,59+2,61+2,67+2,67+2,67+2,61+2,16+2,67.0,66.178307
1,22.0,Heart of Midlothian,CAM,"5'8""",154lbs,Right,5.0,€1.2M,€3K,€2.2M,...,47+2,49+2,45+2,38+2,38+2,38+2,45+2,17+2,68.0,65.383776
2,19.0,Real Salt Lake,GK,"6'2""",176lbs,Right,17.0,€120K,€500,€249K,...,18+2,16+2,16+2,18+2,18+2,18+2,16+2,53+2,54.0,54.250967
3,16.0,Leeds United,CDM,"6'3""",170lbs,Right,23.0,€160K,€500,€464K,...,54+2,53+2,53+2,54+2,54+2,54+2,53+2,11+2,55.0,57.068936
4,24.0,1. FSV Mainz 05,CDM,"6'2""",170lbs,Right,5.0,€2.3M,€13K,€4.3M,...,72+2,70+2,69+2,68+2,68+2,68+2,69+2,18+2,70.0,69.159033

In [53]:

from sklearn.metrics import r2_score
predictions = lm.predict(X_train)
r2_score(y_train, predictions)

0.9154786401130357

In [54]:
# But now we evaluate it in the TEST portion of the data, that we did not use for training.
# This way we know our model is genuinely guessing our donations, not just repeating the values it has seen in the training data

predictions_test = lm.predict(X_test)
r2_score(y_test, predictions_test)

0.9118296343432338

In [55]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y_test,predictions_test))

1.9496647333943407

In [56]:
mse=mean_squared_error(y_test,predictions_test)
mse

3.801192572641625

In [30]:
y.describe().T

count    1947.000000
mean       67.007704
std         6.724993
min        48.000000
25%        63.000000
50%        67.000000
75%        71.000000
max        91.000000
Name: OVA, dtype: float64